// FONTS
$font-family-base: "Nunito Sans";
$font-size-base: 0.875rem;

.text-small {
    font-size: 12px !important;
}

.text-mid {
    font-size: 14px !important;
}

.text-large {
    font-size: 16px !important;
}

.text-w-800 {
    font-weight: 800 !important;
}

.text-w-600 {
    font-weight: 600 !important;
}

.text-w-300 {
    font-weight: 300 !important;
}

.text-header {
    font-size: clamp(14px, 2vw, 24px) !important;
}

// COLORS
$body-bg: #FAFAFA;
$bg-light: #fff !important;

.body-dark {
    background-color: #202D36;
}

.general-dark {
    background-color: #2B3743 !important;
}

.general-light {
    background-color: #fff !important;
}

.font-light {
    color: #F2F8F8 !important;
}

$light: #dddddd;
$dark: #000;


// OTHER
.btn:focus,
input:focus
{
    box-shadow: none !important;
    outline: none !important;
}

.card-size {
    max-width: 20rem; 
    height: 300px;
}

.card-img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.card-img-box {
    height: min(calc(200px - 3vw), 160px);
    overflow: hidden;
}